language: julia
os:
  - linux
  - osx 
  - windows
julia:
  - 1.0
  - 1
  - nightly 
matrix:
  allow_failures:
    - julia: nightly
notifications:
  email: false

after_success:
  - julia --project -e 'import Pkg; Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'  

